# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# System files (Windows, Mac)
Thumbs.db
.DS_Store

# Virtual environment folders
venv/
env/

# Log files
*.log

# Ignore Excel temporary files
~$*.csv

# Do NOT ignore screenshots or docs
